/*
#6588BE
#2B2B2B
#444444
#A2A09C
#247D8F
#007cfe
*/
body{
    background-color: black;
    margin: 0px;
}

.top-title{
    font-family: Anton; 
    color:white; 
    font-size: 40px;
    text-align:center;
    padding-top: 10px;
}

.search-bar{
    text-align: start;
    background-color: white;
    margin: 15px;
    height: 50px;
    display:flex;
    gap: 180px;
    align-items: center;
}

#search{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #e5e3de;
    font-size: 20px;
    margin-left: 10px;
}

.navbar{
    display:flex;
    gap: 15px;
    align-items: center;
    background-color: #444444;
}

.hots{
    margin: 0 10px;
}

.top{
    display:flex;
    align-items: center;
    background-color: #247d8f;
    padding: 0 5px;
    gap: 5px;
    height: 50px;
}

.element{
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 5px;
    
}

#hot-text{
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.whites{
    background-color: white;
    border: 1px solid #ffffff;
}

.title{
    height: 90px;
    display: flex;
    gap: 15px;
    margin: 15px;
    background-color: #f2f2f2; 
}

.name{
    color: #007cfe;
    margin: 5px 0 0 0;
    font-family: Open Sans;
    font-weight: 600;
}

.title-text{
    display: flex;
    gap: 5px;
    align-items: center;
    height: 30px;
}

.chapter{
    font-size: 15px;
    margin: 5px 0 0 0;
    color: #808080;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.endbar{
    display:flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 15px;
    font-weight: 200;
    height: 20px;
}

